*.csv
*.log
*.sln
*.db
*.vcxproj
*.vcxproj.filters
TrajVis/trajectories/
TrajVis/TrajVis/
TrajVis/.vs/
TrajVis.xcodeproj/project.xcworkspace/xcuserdata/diegogoncalves.xcuserdatad/WorkspaceSettings.xcsettings
TrajVis.xcodeproj/project.xcworkspace/xcuserdata/diegogoncalves.xcuserdatad/xcdebugger/Expressions.xcexplist
TrajVis.xcodeproj/xcuserdata/diegogoncalves.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
UserInterfaceState.xcuserstate
